body {
    padding-top: 5rem;
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(245, 245, 245);
    color: #9370DB;
}

h1 {
    font-size: 8rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.error {
    padding: 3rem 1.5rem;
    text-align: center;
}

.error a:hover {
    background-color: rgb(120, 99, 161);
    border-color: rgb(120, 99, 161);
}

.error-btn {
    color: #FFF;
    background-color: #9370DB;
    border-color: #9370DB;
}