/**
 * @author AoBeom
 * @create date 2017-12-06 12:13:50
 * @modify date 2017-12-29 09:38:02
*/

body {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

a {
    margin: 2px;
}

.tools-content {
    min-height: 90%;
}

.tools-footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tools-guide {
    position: relative;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(231, 231, 231);
}

.tools-guide a {
    font-family: 'Varela Round', sans-serif;
}

.tools-head {
    position: relative;
    top: 30px;
}

.tools-span {
    width: 100%;
    padding: 2px;
    margin: 2px;
}

.tools-func {
    padding: 15px 5px 0px;
    word-spacing: -6px;
}

.tools-submit {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tools-input {
    padding: 4px 5px 6px;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px ridge;
    border-color: #0078e7;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.tools-drama {
    position: relative;
    margin: 0 auto;
    padding: 10px;
}

.tools-load {
    padding: 10px;
    overflow: hidden;
}

.tools-load p {
    word-break: break-word;
}

.tools-div {
    margin: 0 auto;
    height: 88px;
}

.tools-div ul {
    text-align: center;
    height: 88px;
}

.tools-div li {
    height: 40px;
}

.tools-button {
    padding: 10px;
    width: 114px;
    margin: 2px;
}

.custom-restricted {
    height: 88px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 4px;
}

.tools-select {
    height: 30px;
}

.tools-a {
    width: 80%;
}

.tools-banner {
    width: 300px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.tools-banner ul {
    list-style: none;
    width: 10000px;
    position: absolute;
}

.tools-banner ul li {
    float: left;
    margin-right: 20px;
}

.button-success,
.button-error,
.button-warning,
.button-link,
.button-span,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
}

.button-error {
    background: rgb(202, 60, 60);
}

.button-warning {
    background: rgb(223, 117, 20);
}

.button-secondary {
    background: rgb(9, 104, 133);
}

.button-guide {
    background: rgb(231, 231, 231);
}

.button-link {
    background: rgb(62, 171, 184);
}

.button-span {
    background: rgb(153, 182, 199)
}

.button-div {
    background: rgb(235, 217, 119)
}