/**
 * @author AoBeom
 * @create date 2017-12-06 12:13:50
 * @modify date 2018-05-06 20:11:23
*/

/* base */

html,
body {
    height: 100%;
    text-align: center;
    background: rgb(245, 245, 245);
}

body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Round', sans-serif;
}

.cover-container {
    max-width: 36em;
}

.masthead {
    margin-bottom: 2em;
}

.masthead-brand {
    margin-bottom: 0;
    color: #800080;
    padding: 4px;
    font-weight: 1000;
}

.nav-masthead .nav-link {
    padding: 0.3em;
    font-weight: 600;
    color: #9370DB;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead a:hover {
    color: #800080;
}

.nav-masthead .active {
    color: #800080;
    border-bottom-color: #800080;
}

@media (min-width: 36em) {
    .masthead-brand {
        padding: 0;
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

/* common */

#tipsbtn {
    margin: 5px;
}

#tips {
    margin: 5px;
}

.tools-load {
    padding-top: 10px;
    widows: auto;
    overflow: auto;
}

.tools-load span {
    word-break: break-word;
}

.tools-load li {
    background: none;
}

.tools-main {
    max-width: 500px;
}

.tools-logout {
    float: right;
}

.tools-logout button {
    position: relative;
    top: 6px;
}

/* picdown */

.tools-banner {
    width: auto;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.tools-banner ul {
    list-style: none;
    width: 10000px;
    position: absolute;
}

.tools-banner ul li {
    float: left;
    margin-right: 20px;
}

.tools-img {
    padding: 4px;
}

.tools-img video {
    height: 100%;
    width: 100%;
    display: block;
}

.tools-img img {
    width: 100%;
}

/* drama */

.tools-btngroup {
    padding: 10px;
}

.tools-card {
    background-color: #fff;
    margin: 10px;
}

.tools-card-body {
    padding: 0;
}

/* program*/

.tools-log {
    padding: 10px;
}

/* stchannel */

.tools-st {
    word-break: break-all;
    width: 100%px;
}

/* rika page */

.tools-pages {
    display: inline-block;
}

.tools-msg {
    text-align: left;
}

.tools-media {
    text-align: center;
    margin-top: 20px;
}