{% extends "auth.html" %} {% block upload %}

<div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="upload">Upload</button>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="file" style="text-overflow: ellipsis; ">
          <label class="custom-file-label" for="file" id="fname">Choose file</label>
        </div>
      </div>

<div id="data" class="tools-load"></div>
{% endblock %}