{% extends "base.html" %} {% block picdown %}
<div class="tools-banner">
    <ul class="tools-banner-content">
        <li>
            <a href="https://mdpr.jp/" target="_blank">
                <img src="static/img/mdpr.png">
            </a>
        </li>
        <li>
            <a href="https://www.oricon.co.jp" target="_blank">
                <img src="static/img/oricon.png">
            </a>
        </li>
        <li>
            <a href="https://www.showroom-live.com/" target="_blank">
                <img src="static/img/sr.png">
            </a>
        </li>
        <li>
            <a href="https://ameblo.jp" target="_blank">
                <img src="static/img/amb.png">
            </a>
        </li>
        <li>
            <a href="http://blog.nogizaka46.com/" target="_blank">
                <img src="static/img/nogi.png">
            </a>
        </li>
        <li>
            <a href="http://www.keyakizaka46.com/s/k46o/diary/member?ima=0000" target="_blank">
                <img src="static/img/keya.png">
            </a>
        </li>
        <li>
            <a href="https://natalie.mu/" target="_blank">
                <img src="static/img/natalie.png">
            </a>
        </li>
        <li>
            <a href="https://mantan-web.jp/" target="_blank">
                <img src="static/img/mantanweb.png">
            </a>
        </li>
        <li>
            <a href="https://mantan-web.jp/" target="_blank">
                <img src="static/img/thetv.png">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com" target="_blank">
                <img src="static/img/insta.png">
            </a>
        </li>
        <li>
            <a href="https://live.line.me" target="_blank">
                <img src="static/img/linelive.png">
            </a>
        </li>
        <li>
            <a href="https://tokyopopline.com/" target="_blank">
                <img src="static/img/tpl.png">
            </a>
        </li>
    </ul>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" id="picURL" placeholder="URL" aria-label="URL" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-success" type="button" id="picdown">
            <i class="fa fa-rocket" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="tools-load" id="data">
    <p class="btn btn-info" id="tipsbtn">
        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Example </p>
    <div id="tips" style="display: none">
        <ul class="list-group">
            <li class="list-group-item">
                <span>https://mdpr.jp/news/1727418</span>
            </li>
            <li class="list-group-item">
                <span>https://www.oricon.co.jp/photo/2450/</span>
            </li>
            <li class="list-group-item">
                <span>https://www.showroom-live.com/46_shiraishimai</span>
            </li>
            <li class="list-group-item">
                <span>https://ameblo.jp/officialpress/entry-12290839652.html</span>
            </li>
            <li class="list-group-item">
                <span>http://blog.nogizaka46.com/third/2017/12/042404.php</span>
            </li>
            <li class="list-group-item">
                <span>http://www.keyakizaka46.com/s/k46o/diary/detail/12853?ima=0000&cd=member</span>
            </li>
            <li class="list-group-item">
                <span>https://natalie.mu/eiga/news/263215</span>
            </li>
            <li class="list-group-item">
                <span>https://mantan-web.jp/article/20150819dog00m200049000c.html</span>
            </li>
            <li class="list-group-item">
                <span>https://thetv.jp/news/detail/136017/</span>
            </li>
            <li class="list-group-item">
                <span>https://tokyopopline.com/archives/99808</span>
            </li>
        </ul>
    </div>
</div>

{% endblock %}