<!--
@author AoBeom
@create date 2018-05-11 23:01:48
@modify date 2018-05-11 23:01:48
-->
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Tools</title>
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.cat.net/css?family=Varela+Round' rel='stylesheet'>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/error.css" rel="stylesheet">
</head>

<body>
    <main role="main" class="container">
        <div class="error">
            <div>
                    <img src="static/img/500.png" width="200px">
            </div>
        </div>
        
    </main>
</body>