{% extends "base.html" %} {% block picdown %}
<div class="tools-head">
    <div class="tools-banner">
        <ul class="tools-banner-content">
            <li>
                <a href="https://mdpr.jp/" target="_blank">
                    <img src="static/img/mdpr.png">
                </a>
            </li>
            <li>
                <a href="https://www.oricon.co.jp" target="_blank">
                    <img src="static/img/oricon.png">
                </a>
            </li>
            <li>
                <a href="https://www.showroom-live.com/" target="_blank">
                    <img src="static/img/sr.png">
                </a>
            </li>
            <li>
                <a href="https://ameblo.jp" target="_blank">
                    <img src="static/img/amb.png">
                </a>
            </li>
            <li>
                <a href="http://blog.nogizaka46.com/" target="_blank">
                    <img src="static/img/nogi.png">
                </a>
            </li>
            <li>
                <a href="http://www.keyakizaka46.com/s/k46o/diary/member?ima=0000" target="_blank">
                    <img src="static/img/keya.png">
                </a>
            </li>
            <li>
                <a href="https://natalie.mu/" target="_blank">
                    <img src="static/img/natalie.png">
                </a>
            </li>
            <li>
                <a href="https://mantan-web.jp/" target="_blank">
                    <img src="static/img/mantanweb.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="tools-func">
        <input class="tools-input" placeholder="URL" id="picURL" type="text">
        <button class="pure-button pure-button-primary tools-submit" type="submit" id="picdown" value="submit">
            <i class="fa fa-rocket" aria-hidden="true"></i>
        </button>
    </div>
    <div class="tools-load" id="datas">
        <p class="pure-button pure-button-primary" id="tipsbtn">
            <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Example </p>
        <div id="tips" style="display: none">
            <p>https://mdpr.jp/news/1727418</p>
            <p>https://www.oricon.co.jp/photo/2450/</p>
            <p>https://www.showroom-live.com/46_shiraishimai</p>
            <p>https://ameblo.jp/officialpress/entry-12290839652.html</p>
            <p>http://blog.nogizaka46.com/third/2017/12/042404.php</p>
            <p>http://www.keyakizaka46.com/s/k46o/diary/detail/12853?ima=0000&cd=member</p>
            <p>https://natalie.mu/eiga/news/263215</p>
            <p>https://mantan-web.jp/article/20150819dog00m200049000c.html</p>
        </div>
    </div>
</div>
{% endblock %}